* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body {
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container {
    width: 350px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.calculator {
    background-color: rgb(183, 200, 215);

    border-radius: 10px;
    display: flex;
   

}
.calculator form input {
    background-color: rgb(210, 214, 230);
    border-radius: 5px;
    outline: 0;
    border-color: rgb(176, 176, 214);
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    box-shadow: -5px, -5px,10px rgba(255, 255, 255, 0.1), 5px, 5px, 10px rgba(0,0,0, 0.2) ;
}
form .display {
    width: 330px;
    display: flex;
    justify-content: flex-end;
    margin: 20px, 0;

}
form .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
    cursor: default;
}
form input.equal {
    width: 150px;
}
.operator {
    color: blue;
}
.operators {
    color: rgb(186, 61, 61);
}
.equal {
    color: blue;
}